# This file is used to ignore files when deploying to Google Cloud.
# It's based on the .gitignore file, but allows the target jar file.

# Archivos de la máquina y del sistema operativo
.DS_Store
*~
.cache/

# Archivos de build y de Maven
pom.xml.tag
pom.xml.versionsBackup
pom.xml.next
release.properties
releaseArguments.properties
.m2/repository/
*.war

# Archivos de IDEs
.idea/
.vscode/
.settings/
.project
.classpath
.factorypath
.sts4-cache/
*.iml
*.iws
*.ipr

# Archivos de configuración con información sensible
src/main/resources/application.properties
src/main/resources/application.yml

# Archivos de log
*.log
logs/

# Ignore content of target directory...
target/*
# ...but NOT the jar file we need for the deployment.
!target/project-0.0.1-SNAPSHOT.jar